<%- include ('partials/header.ejs') %>
<body class="body">  
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1> <%= pergunta.title %>  </h1>
        <%= %>
        <p> <%= pergunta.description %> </p>

        <hr>

    </div>
</body>
<%- include ('partials/footer.ejs') %>

